/*       --Fonts Link--     */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*------------------------------ 
 full body style & common Style
-------------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: white;
    font-size: 75px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 1.1em;
}

input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
}

/*------------------
   nav bar style
--------------------*/
nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 24px;
    padding: 20px;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.631);
}

.btn-nav {
    background: #e02c6d;
    padding: 8px 12px;
    color: white;
    border: none;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
}

.navbar-item {
    padding: 5px 100px;
}

/* --------------------
   heading part style
----------------------*/
.top-container {
    background-color: #2D25A0;
    padding-top: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.heading-box {
    width: 560px;
    margin: 90px 0;
}

.banner-img {
    width: 100%;
    transition: all .5s;
}

.banner-img:hover {

    transform: scale(1.3);
}

/*------------------
  bonus part style
--------------------*/
.container2 {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container2 h2 {
    color: rgba(0, 0, 0, 0.535);
}

.heading-box2 {
    width: 600px;
    margin: 10px 15px;
}

.banner-img2 {
    border-radius: 20px;
    width: 70%;
    margin: 30px 0;
}


/*--------------------
      button style  
---------------------*/
button {
    background-color: #E02C6D;
    font-size: 20px;
    color: white;
    font-weight: 500;
    padding: 13px 25px;
    cursor: pointer;
    border-radius: 10px;
    transition: all ..3s;
}

button:hover {
    color: rgba(255, 255, 255, 0.631);
}

button i {
    padding-left: 8px;
}


/*-----------------------
     player detail style  
-------------------------*/
.player-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 70px 250px;
}

.player-box {
    width: 400px;
    height: 500px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin: 20px 0;
    padding: 15px;
    border-radius: 10px;
}

.player-box img {
    width: 100%;
    border-radius: 10px;
}

/*--------------------
     footer style
---------------------*/
footer {
    margin: 70px 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.footer-img {
    width: 500px;
}

.footer-logo {
    width: 50px;
    margin-left: 20px;
}




/* ---------------------------------
        //---Media Query---//
----------------------------------  */

@media only screen and (max-width: 688px) {
    .top-container {
        padding-top: 0px;
    }

    nav {
        display: none;
    }

    .heading-box {
        padding: 0px 15px;
    }

    h1 {
        font-size: 45px;
    }

    .player-box {
        width: 95%;
        height: 100%;
    }

    .player-container {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        align-items: center;
    }

    .footer-img {
        width: 350px;
    }

    .footer-logo {
        width: 40px;
    }

    .banner-img2 {
        width: 100%;
        margin: 30px 0;
    }

    .container2 {
        margin-top: 40px
    }
}